# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      name:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Person to greet'
        # Default value if no value is explicitly provided
        default: 'World'
        # Input has to be provided for the workflow to run
        required: true
env:
  SPLITWISE_CONSUMER_KEY: '${{ secrets.SPLITWISE_CONSUMER_KEY }}'
  SPLITWISE_CONSUMER_SECRET_KEY: '${{ secrets.SPLITWISE_CONSUMER_SECRET_KEY }}'
  SPLITWISE_API_KEY: '${{ secrets.SPLITWISE_API_KEY }}'
  ENCRYPT_KEY: '${{ secrets.ENCRYPT_KEY }}'
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner.
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 #install the python needed
          cache: pip
      - run: pip install -r requirements.txt
      - name: upload expenses to splitiwse py script
        run: |
          python src/upload_expenses_to_splitwise.py
      - name: upload expenses to big query py script
        run: |
          python src/upload_expenses_to_bigquery.py

      #- name: export index
      #  .... # use crosponding script or actions to help export.
      
